.backgroundHome {
    background-image: url(../assets/images/BackgroundHome.png);
    background-position: center;
    background-size: cover;
    height: 150vh;
}

.block {
    background-color: var(--colorBlock60);
}