:root {
    --blue: #EAF9FF;
    --text-color: #000000;
    --colorBlock: #F0E8E2;
    --colorBlock60: hsla(197, 100%, 96%, 0.60);
    --error: #e74c3c;
    --font-family: 'Dancing Script', sans-serif;
    --font-family2: 'Sansita Swashed', sans-serif;
    --box-shadow: 0 6px 9px 0 rgb(0 0 0 / 15%);
    --box-shadow-nav: rgb(0 0 0 / 22%) 0 2px 18px 0;
  }